body {
  background: url("/background.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}

#colors {
  color: #87ceeb;
  color: #a8d5ba;
  color: #8b5e3b;
  color: #f4d35e;
  color: #d1cfc7;
}

html {
  direction: rtl;
  text-align: center;
}

#gameTitle {
  font-size: 4rem;
  color: rgb(105, 85, 232);
  margin-bottom: 10px;
  font-family: "Rubik Vinyl", serif;
  font-weight: bold;
  font-style: normal;
  position: absolute;
  top: 20px;
  z-index: -1;
}

.hidden {
  display: none;
}

.btn {
  padding: 20px;
  font-size: 1.3rem;
  margin-bottom: 20px;
  border-radius: 40px;
  background-color: rgb(105, 85, 232);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.1s all;
}

.btn:hover {
  background-color: rgb(53, 43, 123);
}

#newRoomBtn {
  margin-bottom: 80px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.3rem;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 40px;
  border: none;
  text-align: center;
}

#gameContainer {
  background-color: #00000054;
  width: 100%;
  color: white;
  text-shadow: 0px 0px 5px black;
}

#roomNumberWrapper {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#roomNumberDisplay {
  font-weight: bold;
}

#playerList p {
  font-weight: bold;
  font-size: 1.3rem;
}

#startGameSection {
  margin-top: 20px;
}

#questionDisplay {
  text-align: center;
  font-size: 2rem;
  font-size: 3rem;
  padding: 50px;
}

.public-answer {
  font-size: 1.3rem;
  font-weight: bold;
}

#answersContainer {
  padding: 20px 0;
  font-size: 1.3rem;
  text-shadow: none;
}

#correctAnswerDisplay {
  font-weight: bold;
  font-size: 4rem;
  color: rgb(105, 85, 232);
  padding: 20px 0;
  text-shadow: 1px 1px 2px white;
}

#scoresDisplay {
  padding: 20px 0;
  font-size: 1.5rem;
  color: white;
  text-shadow: none;
}

h3 {
  margin-top: 0;
}

#bgMusic {
  display: none;
}
