html {
  direction: rtl;
  font-family: sans-serif;
  text-align: center;
}

#gameTitle {
  font-size: 3rem;
}

.hidden {
  display: none;
}

.btn {
  padding: 20px;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 20px;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

/* Main game container styling */
#gameContainer {
  background-color: rgb(135, 240, 240);
  margin-top: 20px;
}

#roomNumberWrapper {
  margin-top: 20px;
  font-size: 1.3rem;
}

#roomNumberDisplay {
  font-weight: bold;
}

#playerList {
  margin-top: 20px;
}

#playerList p {
  font-weight: bold;
  font-size: 1.3rem;
}

#startGameSection {
  margin-top: 20px;
}

#questionDisplay {
  text-align: center;
  font-size: 2rem;
  padding: 60px 0 20px;
}

.public-answer {
  font-size: 1.3rem;
  font-weight: bold;
}

#answersContainer {
  padding: 20px 0;
  font-size: 1.3rem;
}

#correctAnswerDisplay {
  font-weight: bold;
  font-size: 4rem;
  color: rgb(105, 85, 232);
  padding: 20px 0;
}

#scoresDisplay {
  padding: 20px 0;
  font-size: 1.5rem;
}

h3 {
  margin-top: 0;
}
